.wrapper{
	background-color: white;
}
.container{
	height: 90vh;
	width: 80vw;
	background-color: #FAFAFA;
}

.wrapper h1{
	font-size: 35px;
	padding: 10px;
	margin: 10px 0px 10px 0px;
}

.btn {
	font-size: 16px;
}

.restaurant {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.restaurant:last-child {
  border-bottom: none;
}
.restaurant-body {
  flex-grow: 1;
}
.restaurant-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.restaurant-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.restaurant-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.restaurant-body p {
  margin: 6px 0;
}
.restaurant-details {
  font-size: 14px;
  font-weight: bold;
}